[Unit]
Description=Patroni for PostgreSQL 16
After=network.target

[Service]
User=postgres
ExecStart=/opt/patroni-venv/bin/patroni /etc/patroni.yml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target