scope: {{ patroni_scope }}
name: {{ inventory_hostname }}

restapi:
  listen: {{ ansible_host }}:8008
  connect_address: {{ ansible_host }}:8008

etcd3:
  hosts:
{% for host in groups['etcd'] %}
    - {{ hostvars[host]['ansible_host'] }}:2379
{% endfor %}
  protocol: http
  use_proxies: false
  discovery: false

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true

  initdb:
    - encoding: UTF8
    - data-checksums

  pg_hba:
    - host replication {{ replication_user }} 127.0.0.1/32 md5
    - host replication {{ replication_user }} 0.0.0.0/0 md5
    - host all all 0.0.0.0/0 md5

  users:
    admin:
      password: {{ admin_password | default('admin') }}
      options:
        - createrole
        - createdb

postgresql:
  bin_dir: {{ pg_bin_dir }}
  data_dir: {{ pg_data_dir }}
  config_dir: {{ pg_conf_dir }}
  listen: 0.0.0.0:{{ pg_port }}
  connect_address: {{ ansible_host }}:{{ pg_port }}
  authentication:
    superuser:
      username: {{ superuser }}
      password: {{ superuser_password }}
    replication:
      username: {{ replication_user }}
      password: {{ replication_pass }}
  parameters:
    wal_level: replica
    hot_standby: "on"
    max_wal_senders: 5
    max_replication_slots: 5
    synchronous_commit: "on"
    synchronous_standby_names: "*"