scope: {{ pg_name }}
name: {{ pg_name }}

etcd:
  host: "{{ etcd_host }}"

postgresql:
  bin_dir: /usr/pgsql-16/bin
  data_dir: {{ patroni_data_dir }}
  config_dir: /etc/patroni
  listen: 0.0.0.0:{{ pg_port }}
  connect_address: {{ ansible_host }}:{{ pg_port }}
  port: {{ pg_port }}
  authentication:
    superuser:
      username: postgres
      password: postgres
    replication:
      username: replicator
      password: rep-pass
  parameters:
    wal_level: replica
    hot_standby: "on"
    max_wal_senders: 10
    max_replication_slots: 10
    synchronous_commit: "on"
    synchronous_standby_names: "*"

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false